<!-- <h1> Mon profil </h1>
<ul>
	<li>first_name : <%= @user.first_name%></li>
	<li>last_name : <%= @user.last_name%></li>
	<li>email : <%= @user.email%></li>
</ul> -->
<div class="container-user">
    <div class="card display_user" id="user" style="width: 20rem;">
      <div class="card" style="width: 100%;">
      <h1>Page Profil</h1>
        <%if @user.avatar.attached?%>
          <%= image_tag @user.avatar, alt: 'avatar', class: 'avatar_pic' %>
        <%else%>
          <%= image_tag ("profilVide.jpeg")%>
        <%end%>
    </div>

      <div class="card-body">
        <h5 class="card-title"><%=current_user.first_name%> <%=current_user.last_name%></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="card-text"><%=current_user.email%> </li>
      </ul>
      <div class="card-body">
      	<h6>Changer de profil ?</h6>
    						<%= form_tag user_avatars_path(@user), multipart: true do %>
    						<%= file_field_tag :avatar %>
    						<%= submit_tag "valider"%>
    						<% end %>
        <a href="/users/<%=@user.id%>/edit" class="btn btn-success boutton">Edit</a>
        <a href="/events" class="btn btn btn-primary">Back to home</a>
      </div>
    </div>

    <div class="story display_user">
      <h2>Historiques des commandes</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Pic</th>
          <th scope="col">Title</th>
          <th scope="col">price</th>
          <th scope="col" class="remove">Remove</th>
        </tr>
      </thead>
        <tbody>
           <%@items.each do |item|%>
              <tr>
                <%if item.picture.attached?%>
                <td><a href="#"><%= image_tag item.picture, alt: 'picture', class: 'pic' %></a></td>
              <%else%>
                <td><a href="#"><%= image_tag item.image_url, alt: 'picture', class: 'pic' %></a></td> 
              <%end%>        
                 <td><%=item.title%></td>
                <td><%=item.price%> €</td>
                <td><a href="#" class="badge badge-danger">enlever de l'historique</a></td>
              </tr>
           <%end%>
        </tbody>
      </table>
    </div>
</div>