<div class="container">
 	<div class="row">
    	<div class="col-md-6 offset-md-3">
			<div class="card" style="width: 30rem;">
				<center>
					<div class="card-body">
				<h4 class="card-title">Vous avez oublié votre mot de passe?</h4>

				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  	<%= render "devise/shared/error_messages", resource: resource %>

				<div class="field">
						<%= f.label :Entrer_votre_email %><br />
						<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
					</div><br>

					<div class="actions">
						<%= f.submit "Réinitialisation du mot de passe" %>
					</div>
					<% end %>
				</div>
				</center>
				<div class="container">
					<%= render "devise/shared/links" %>
				</div>
			</div>
		</div>
	</div>
</div>


 
   
  
