
<!-- cart -->
    <div class="modal fade sidebar" id="cart" tabindex="-1" role="dialog" aria-labelledby="cartLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cartLabel">les collaborateurs</h5>
              <div class="col-lg-3 text-center text-lg-right" >
                      <span class="cart-item-price"> Prénoms</span>
                    </div>
                      <div class="col-lg-3 text-center text-lg-right">
                      <span class="cart-item-price">Github</span>
                    </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-12">
                <div class="cart-item cart-item-sm">
                  <div class="row align-items-center">
                    <div class="col-lg-5">
                      <div class="media media-product">
      <%= image_tag ("kat1.jpg") ,class:"d-block w-100 rounded-circle"%> 
                      </div>
                    </div>
                      <div class="col-lg-3 text-center text-lg-right">
                      <span class="cart-item-price">Faly</span>
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                    <a href="https://github.com/RFaly", class="cart-item-price", target="_blank">@RFaly</a>
                    </div>
                    <a href="#!" class="cart-item-close"><i class="icon-x"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="cart-item cart-item-sm">
                  <div class="row align-items-center">
                    <div class="col-lg-5">
                      <div class="media media-product">
      <%= image_tag ("kat2.jpg") ,class:"d-block w-100 rounded-circle rounded-circle"%> 
                      </div>
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                      <span class="cart-item-price">Fast</span>
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                      <a href="https://github.com/fastfabien", class="cart-item-price" target="_blank">@fastfabien</a>
                    </div>
                    <a href="#!" class="cart-item-close"><i class="icon-x"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="cart-item cart-item-sm">
                  <div class="row align-items-center">
                    <div class="col-lg-5">
                      <div class="media media-product">
      <%= image_tag ("kat3.jpg") ,class:"d-block w-100 rounded-circle"%> 
                      </div>
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                      <span class="cart-item-price">Rolland</span>
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                <a href="https://github.com/rollandjasmie", class="cart-item-price" target="_blank">@rollandjasmie</a>
                    </div>
                    <a href="#!" class="cart-item-close"><i class="icon-x"></i></a>
                  </div>
                </div>
              </div>
            </div>
       
       <div class="row">
              <div class="col-12">
                <div class="cart-item cart-item-sm">
                  <div class="row align-items-center">
                    <div class="col-lg-5">
                      <div class="media media-product">
      <%= image_tag ("kat4.jpg") ,class:"d-block w-100 rounded-circle"%> 
                      </div>
                    </div>
                      <div class="col-lg-3 text-center text-lg-right">
                      <span class="cart-item-price">S Toky</span>
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                <a href="https://github.com/S-Toky", class="cart-item-price" target="_blank">@S-Toky</a>
                    </div>
                    <a href="#!" class="cart-item-close"><i class="icon-x"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="cart-item cart-item-sm">
                  <div class="row align-items-center">
                    <div class="col-lg-5">
                      <div class="media media-product">
      <%= image_tag ("kat5.jpg") ,class:"d-block w-100 rounded-circle"%> 
                      </div>
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                      <span class="cart-item-price">Toky</span>
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                <a href="https://github.com/tokynomenaja", class="cart-item-price" target="_blank">@tokynomenaja</a>
                    </div>
                    <a href="#!" class="cart-item-close"><i class="icon-x"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="cart-item cart-item-sm">
                  <div class="row align-items-center">
                    <div class="col-lg-5">
                      <div class="media media-product">
      <%= image_tag ("kat6.jpg") ,class:"d-block w-100 rounded-circle"%> 
                      </div>
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                      <span class="cart-item-price">Zo-Herrinot</span>
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                <a href="https://github.com/ZoHerinnot", class="cart-item-price" target="_blank">@ZoHerinnot</a>
                    </div>
                    <a href="#!" class="cart-item-close"><i class="icon-x"></i></a>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="modal-footer">
            <div class="container-fluid">
              <div class="row gutter-0">
              © 2019 Copyright
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>