

<%= render 'modals.html.erb' %>

	<h1>Photo de chat-robot</h1>		
		<div class="container-index">
	  		<div class="row index-content">
				<% @items.each do |item| %>
				<div class="card card-style" style="width: 18rem;">
					<%= image_tag item.image_url, class: "card-img-top" %>
				  <div class="card-body card-body-show">
				    <h5 class="card-title"><%=item.title%></h5>
				    <p class="card-text"><%=item.price%> €</p>
				    <a href="<%=item_path(item.id)%>" class="btn btn-primary boutton">View details</a>
				  </div><!-- FIN CARD BODY -->
				</div><!-- FIN CARD -->
				<%end%>
			</div><!-- FIN ROW INDEX CONTENT-->
		</div><!-- FIN CONTAINER INDEX -->
