<h1>Votre panier</h1>
<div class="">
    <strong>Prix total: <%=@price_total%> €</strong><br/>
    <a href="<%=orders_path%>" data-method="create" class="btn btn-primary">Passer la commande</a>
</div>
<%@list_commands.each do |list_command|%>
<ul>
  <li><%= image_tag list_command.image_url, class: "rounded-circle" %></li>
  <li><%=list_command.title%></li>
  <li><%=list_command.price%> €</li>
  <li>
    <a href="<%=cart_path(list_command.id)%>" data-method="delete">Enlever du panier</a>
  </li>
</ul>
<%end%>

