
<%if @list_commands.empty? %>
	<h1>Votre panier est vide pour le moment.</h1>
	<p>Vous pouvez le remplir en ajoutant les photos que vous voules achetez dans le panier !</p>
<%else%>
	<div id="table-container">
		<table class="table">
		  <thead class="thead-dark">
		    <tr>
		     	<th scope="col">Pic</th>
		    	<th scope="col">Title</th>
		      <th scope="col">price</th>
		      <th scope="col" class="remove">Remove</th>
		    </tr>
		  </thead>
			  <tbody>
			  	<%@list_commands.each do |list_command|%>
			    <tr class="table-font" id="pic<%=list_command.id%>">
						<%if list_command.picture.attached?%>
						<td><a href="/items/<%=list_command.id%>"><%= image_tag list_command.picture, class: "pic" %></a></td>
					<%else%>
			    	<td><a href="/items/<%=list_command.id%>"><%= image_tag list_command.image_url, class: "pic" %></a>
			    	</td>
			    		<%end%>	
			      <td><%= list_command.title %></td>
			      <td><%=list_command.price%> $</td>
			      <td><a href="<%=cart_path(list_command.id)%>" data-method="delete" data-confirm="êtes vous sure ?" data-remote="true" class="badge badge-danger">Enlever du panier</a></td>
			    </tr>
				<% end %>
			  </tbody>
		</table>
    </div>
		<div class="footer-basket" >
			<strong id = "prixDuCart">Prix total: <%=@price_total%> $</strong>
		</div>

		<%= form_tag new_order_path, method:'get' do%>
		<%= hidden_field_tag :prix, @price_total %>
		<%= submit_tag "Passer commande", class:"outline outline-info"%> <br/>
		<% end %>
<% end %>

